body {
    background-color: #212227;
    text-align: center;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 25px;
    background-color: #5762d5;

    font-family: 'Open Sans', sans-serif;
    color: #fdffff;
}

.muted {
    color: #d2d7df;
    font-size:12px;
}

.content {
    text-align: left;
    width:100%;
}